.version.adduser /* version checker */
{
	color: #00001C;
	background-color: #708A7A;
}

#page
{
	z-index: 1;
	min-height: 680px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	width: 100%;
	max-width: 1240px;
	margin-left: auto;
	margin-right: auto;
}

#pu817
{
	padding-bottom: 1378px;
	margin-bottom: -698px;
	margin-right: -10000px;
	width: 100%;
}

#u817
{
	z-index: 2;
	height: 79px;
	position: fixed;
	top: 0px;
}

#u817-bw
{
	z-index: 2;
}

#u726
{
	z-index: 3;
	height: 1378px;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 18.8%;
	max-width: 233px;
}

#buttonu727
{
	z-index: 4;
	position: fixed;
	top: 78px;
	left: 1px;
	width: 18.15%;
	max-width: 225px;
}

#buttonu727:hover
{
	min-height: 0px;
	width: 18.15%;
	max-width: 225px;
	margin: 0px;
}

#u729
{
	z-index: 9;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	width: 21.34%;
	left: 5.34%;
}

#buttonu727:hover #u729
{
	min-height: 0px;
	width: 21.34%;
	margin: 2px -10000px 0px 0%;
}

#u728-4
{
	z-index: 5;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 59.56%;
	left: 31.12%;
}

#buttonu731
{
	z-index: 11;
	position: fixed;
	top: 142px;
	left: 1px;
	width: 18.15%;
	max-width: 225px;
}

#buttonu727.ButtonSelected,#buttonu731:hover
{
	min-height: 0px;
	width: 18.15%;
	max-width: 225px;
	margin: 0px;
}

#u733
{
	z-index: 16;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	width: 21.34%;
	left: 5.34%;
}

#buttonu727.ButtonSelected #u729,#buttonu731:hover #u733
{
	min-height: 0px;
	width: 21.34%;
	margin: 2px -10000px 0px 0%;
}

#u732-4
{
	z-index: 12;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 59.56%;
	left: 31.12%;
}

#buttonu735
{
	z-index: 18;
	position: fixed;
	top: 206px;
	left: 1px;
	width: 18.15%;
	max-width: 225px;
}

#buttonu731.ButtonSelected,#buttonu735:hover
{
	min-height: 0px;
	width: 18.15%;
	max-width: 225px;
	margin: 0px;
}

#u736
{
	z-index: 23;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	width: 21.34%;
	left: 5.34%;
}

#buttonu731.ButtonSelected #u733,#buttonu735:hover #u736
{
	min-height: 0px;
	width: 21.34%;
	margin: 2px -10000px 0px 0%;
}

#u738-4
{
	z-index: 19;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 60%;
	left: 31.12%;
}

#buttonu739
{
	z-index: 25;
	padding-bottom: 1px;
	position: fixed;
	top: 270px;
	left: 1px;
	width: 18.15%;
	max-width: 225px;
}

#buttonu735.ButtonSelected,#buttonu739:hover
{
	min-height: 0px;
	width: 18.15%;
	max-width: 225px;
	margin: 0px;
}

#u740
{
	z-index: 30;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 21.34%;
	left: 5.34%;
}

#buttonu739:hover #u740
{
	min-height: 0px;
	width: 21.34%;
	margin: 1px -10000px 0px 0%;
}

#buttonu739.ButtonSelected #u740
{
	min-height: 0px;
	width: 21.34%;
	margin: 1px -10000px 0px 0%;
}

#u742-4
{
	z-index: 26;
	position: relative;
	margin-right: -10000px;
	width: 72.45%;
	left: 27.12%;
}

#pbuttonu743
{
	padding-bottom: 118px;
	margin-right: -10000px;
	margin-top: 559px;
	margin-left: 2px;
	width: 18.31%;
}

#buttonu743
{
	z-index: 32;
	position: fixed;
	bottom: 2px;
	left: 1px;
	width: 18.15%;
	max-width: 225px;
}

#buttonu739.ButtonSelected,#buttonu743:hover
{
	min-height: 0px;
	width: 18.15%;
	max-width: 225px;
	margin: 0px;
}

#u744
{
	z-index: 33;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	width: 21.34%;
	left: 3.12%;
}

#buttonu735.ButtonSelected #u736,#buttonu743:hover #u744
{
	min-height: 0px;
	width: 21.34%;
	margin: 2px -10000px 0px 0%;
}

#buttonu743.ButtonSelected #u744
{
	min-height: 0px;
	width: 21.34%;
	margin: 2px -10000px 0px 0%;
}

#u746-4
{
	z-index: 35;
	position: relative;
	margin-right: -10000px;
	width: 59.56%;
	left: 31.56%;
}

#buttonu1182
{
	z-index: 39;
	position: fixed;
	bottom: 66px;
	left: 1px;
	width: 18.15%;
	max-width: 225px;
}

#buttonu743.ButtonSelected,#buttonu1182:hover
{
	min-height: 0px;
	width: 18.15%;
	max-width: 225px;
	margin: 0px;
}

#buttonu1182.ButtonSelected
{
	min-height: 0px;
	width: 18.15%;
	max-width: 225px;
	margin: 0px;
}

#u1208
{
	z-index: 40;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 23.12%;
	left: 2.67%;
}

#buttonu1182:hover #u1208
{
	min-height: 0px;
	width: 23.12%;
	margin: -1px -10000px 0px 0%;
}

#buttonu1182.ButtonSelected #u1208
{
	min-height: 0px;
	width: 23.12%;
	margin: -1px -10000px 0px 0%;
}

#u1210-4
{
	z-index: 42;
	position: relative;
	margin-right: -10000px;
	width: 58.67%;
	left: 31.56%;
}

#u1233
{
	height: 506px;
	position: relative;
	left: -50%;
	margin-left: 465px;
	width: 100%;
	max-width: 930px;
}

.ie #u1233
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1233-wrapper
{
	position: fixed;
	top: 95px;
	z-index: 46;
	left: 50%;
	margin-left: -348px;
	width: 75%;
	max-width: 930px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

#u729_img,#u733_img,#u736_img,#u740_img,#u744_img,#u1208_img
{
	width: 100%;
}

