.version.index /* version checker */
{
	color: #0000E6;
	background-color: #E974EA;
}

#page
{
	z-index: 1;
	min-height: 630px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 9px;
	width: 100%;
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

#u114
{
	z-index: 4;
	height: 64px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

.ie #u114
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u142
{
	height: 514px;
	position: relative;
	left: -50%;
	margin-left: 512px;
	width: 100%;
	max-width: 1024px;
}

#u142-wrapper
{
	position: fixed;
	top: 64px;
	z-index: 5;
	left: 50%;
	margin-left: -512px;
	width: 100%;
	max-width: 1024px;
}

#buttonu166
{
	z-index: 6;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	border-width: 0px;
	background-color: transparent;
	opacity: 0.25;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter: alpha(opacity=25);
	padding-bottom: 214px;
	position: fixed;
	top: 64px;
	left: 0px;
	width: 8.31%;
	max-width: 85px;
}

#buttonu166:hover
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	opacity: 0.65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity=65);
	min-height: 0px;
	width: 8.31%;
	max-width: 85px;
	margin: 0px;
}

#u176
{
	z-index: 7;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 215px;
	width: 100%;
}

#buttonu166:hover #u176
{
	min-height: 0px;
	width: 100%;
	margin: 215px -10000px 0px 0%;
}

#buttonu186
{
	z-index: 9;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	border-width: 0px;
	background-color: transparent;
	opacity: 0.25;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter: alpha(opacity=25);
	padding-bottom: 214px;
	position: fixed;
	top: 64px;
	right: 0px;
	width: 8.31%;
	max-width: 85px;
}

#buttonu186:hover
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	opacity: 0.65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity=65);
	min-height: 0px;
	width: 8.31%;
	max-width: 85px;
	margin: 0px;
}

#buttonu166.ButtonSelected,#buttonu186.ButtonSelected
{
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	opacity: 0.25;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter: alpha(opacity=25);
	min-height: 0px;
	width: 8.31%;
	max-width: 85px;
	margin: 0px;
}

#u206
{
	z-index: 10;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 215px;
	width: 100%;
}

#buttonu166.ButtonSelected #u176,#buttonu186:hover #u206
{
	min-height: 0px;
	width: 100%;
	margin: 215px -10000px 0px 0%;
}

#buttonu186.ButtonSelected #u206
{
	min-height: 0px;
	width: 100%;
	margin: 215px -10000px 0px 0%;
}

#u104
{
	z-index: 2;
	position: relative;
	margin-right: -10000px;
	width: 14.26%;
	margin-left: 42.88%;
	left: 0px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

.verticalspacer
{
	min-height: 513px;
}

#u176_img,#u206_img,#u104_img
{
	width: 100%;
}

