.version.index /* version checker */
{
	color: #000016;
	background-color: #EC84FB;
}

#page
{
	border-width: 0px;
	background-image: none;
	margin-left: auto;
	background-color: transparent;
	width: 100%;
	border-color: #000000;
	margin-right: auto;
	z-index: 1;
}

#buttonu1316
{
	border-width: 0px;
	margin-right: -10000px;
	margin-top: 64px;
	position: relative;
	background-color: transparent;
	z-index: 4;
}

#u1336
{
	margin-right: -10000px;
	position: relative;
	z-index: 5;
}

#u1304
{
	left: -50%;
	position: relative;
	width: 100%;
	height: 64px;
}

#u1304-wrapper
{
	left: 50%;
	position: fixed;
	top: 0px;
	z-index: 2;
}

#u1307
{
	position: relative;
	left: -50%;
	width: 100%;
}

.ie #u1304,.ie #u1307
{
	background-color: #FFFFFF;
	filter: alpha(opacity=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	opacity: 0.01;
}

#u1307-wrapper
{
	left: 50%;
	position: fixed;
	top: 64px;
	z-index: 3;
}

#buttonu1366
{
	background-color: transparent;
	left: -50%;
	position: relative;
	border-width: 0px;
	width: 100%;
}

#buttonu1366.ButtonSelected
{
	min-height: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	width: 100%;
	margin-right: 0px;
}

#u1385
{
	margin-right: -10000px;
	position: relative;
	background-color: transparent;
	z-index: 11;
}

#buttonu1366.ButtonSelected #u1385
{
	min-height: 0px;
	margin-bottom: 0px;
	margin-right: -10000px;
	margin-left: 0%;
}

#u1385_img
{
	width: 100%;
}

#buttonu1366-wrapper
{
	left: 50%;
	position: fixed;
	z-index: 10;
}

#buttonu1346
{
	border-width: 0px;
	margin-right: -10000px;
	margin-top: 64px;
	position: relative;
	background-color: transparent;
	z-index: 7;
}

#buttonu1316.ButtonSelected,#buttonu1346.ButtonSelected
{
	min-height: 0px;
	margin: 64px -10000px 0px 0%;
}

#u1356
{
	margin-right: -10000px;
	position: relative;
	z-index: 8;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 769px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 584px;
		padding-bottom: 56px;
		max-width: 1152px;
	}

	#buttonu1316
	{
		padding-bottom: 238px;
		width: 5.56%;
	}

	#u1336
	{
		background-color: transparent;
		margin-top: 230px;
		width: 81.25%;
		left: 9.38%;
	}

	#u1304
	{
		margin-left: 512px;
		max-width: 1024px;
	}

	#u1307
	{
		height: 520px;
		margin-left: 512px;
		max-width: 1024px;
	}

	#u1304-wrapper,#u1307-wrapper
	{
		margin-left: -512px;
		width: 88.89%;
		max-width: 1024px;
	}

	#buttonu1366
	{
		margin-left: 115.25px;
		max-width: 231px;
	}

	#buttonu1366.ButtonSelected
	{
		margin-left: 115px;
		max-width: 231px;
	}

	#u1385
	{
		width: 59.75%;
		left: 19.92%;
	}

	#buttonu1366.ButtonSelected #u1385
	{
		margin-top: 0px;
		width: 59.75%;
	}

	#buttonu1366-wrapper
	{
		top: 587px;
		margin-left: -115px;
		width: 20.06%;
		max-width: 231px;
	}

	#buttonu1346
	{
		padding-bottom: 238px;
		width: 5.56%;
		left: 94.45%;
	}

	#buttonu1316.ButtonSelected,#buttonu1346.ButtonSelected
	{
		width: 5.56%;
	}

	#u1356
	{
		background-color: transparent;
		margin-top: 230px;
		width: 81.25%;
		left: 3.13%;
	}

	#buttonu1316.ButtonSelected #u1336,#buttonu1346.ButtonSelected #u1356
	{
		min-height: 0px;
		width: 81.25%;
		margin: 230px -10000px 0px 0%;
	}

	#u1336_img,#u1356_img
	{
		width: 100%;
	}

}

@media (min-width: 321px) and (max-width: 768px)
{
	#muse_css_mq
	{
		background-color: #000300;
	}

	#bp_768.active
	{
		display: block;
	}

	#page
	{
		min-height: 561px;
		padding-bottom: 79px;
		max-width: 768px;
	}

	#buttonu1316
	{
		padding-bottom: 215px;
		width: 5.6%;
	}

	#u1336
	{
		display: block;
		vertical-align: top;
		margin-top: 192px;
		width: 67.45%;
		left: 6.98%;
	}

	#u1304
	{
		margin-left: 341.33333333333326px;
		max-width: 683px;
	}

	#u1307
	{
		height: 497px;
		margin-left: 341.33333333333326px;
		max-width: 683px;
	}

	#u1304-wrapper,#u1307-wrapper
	{
		margin-left: -341px;
		width: 88.94%;
		max-width: 683px;
	}

	#buttonu1366
	{
		padding-bottom: 3px;
		margin-left: 144px;
		max-width: 288px;
	}

	#buttonu1366.ButtonSelected
	{
		margin-left: 144px;
		max-width: 288px;
	}

	#u1385
	{
		margin-top: 3px;
		width: 54.52%;
		left: 14.59%;
	}

	#buttonu1366.ButtonSelected #u1385
	{
		margin-top: 3px;
		width: 54.52%;
	}

	#buttonu1366-wrapper
	{
		top: 561px;
		margin-left: -144px;
		width: 37.5%;
		max-width: 288px;
	}

	#buttonu1346
	{
		padding-bottom: 215px;
		width: 5.6%;
		left: 94.41%;
	}

	#buttonu1316.ButtonSelected,#buttonu1346.ButtonSelected
	{
		width: 5.6%;
	}

	#u1356
	{
		display: block;
		vertical-align: top;
		margin-top: 192px;
		width: 65.12%;
		left: 2.33%;
	}

}

@media (max-width: 320px)
{
	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		min-height: 508px;
		max-width: 320px;
	}

	#buttonu1316
	{
		padding-bottom: 172px;
		width: 5.63%;
	}

	#u1336
	{
		display: block;
		vertical-align: top;
		margin-top: 163px;
		width: 66.67%;
		left: 16.67%;
	}

	#u1304
	{
		margin-left: 142.22222222222223px;
		max-width: 284px;
	}

	#u1307
	{
		height: 384px;
		margin-left: 142.22222222222223px;
		max-width: 284px;
	}

	#u1304-wrapper,#u1307-wrapper
	{
		margin-left: -142px;
		width: 88.75%;
		max-width: 284px;
	}

	#buttonu1366
	{
		padding-bottom: 4px;
		margin-left: 142px;
		max-width: 284px;
	}

	#buttonu1366.ButtonSelected
	{
		margin-left: 142px;
		max-width: 284px;
	}

	#u1385
	{
		margin-top: 4px;
		width: 51.41%;
		left: 24.3%;
	}

	#buttonu1366.ButtonSelected #u1385
	{
		margin-top: 4px;
		width: 51.41%;
	}

	#buttonu1366-wrapper
	{
		top: 448px;
		margin-left: -142px;
		width: 88.75%;
		max-width: 284px;
	}

	#buttonu1346
	{
		padding-bottom: 173px;
		width: 5.63%;
		left: 94.38%;
	}

	#buttonu1316.ButtonSelected,#buttonu1346.ButtonSelected
	{
		width: 5.63%;
	}

	#u1356
	{
		display: block;
		vertical-align: top;
		margin-top: 163px;
		width: 66.67%;
	}

	body
	{
		min-width: 320px;
	}

}

