#u563
{
	background-color: #297B48;
}

#buttonu564
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 2px;
	border-color: #003E17;
	background: #297B48 url("../images/light-green-background.png") no-repeat right bottom;
}

#buttonu564:hover
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-repeat: no-repeat;
	background-position: left bottom;
}

#u565
{
	background-color: transparent;
}

#buttonu568
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 2px;
	border-color: #003E17;
	background: #297B48 url("../images/light-green-background.png") no-repeat right bottom;
}

#buttonu568:hover
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-repeat: no-repeat;
	background-position: left bottom;
}

#u569
{
	background-color: transparent;
}

#buttonu572
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 2px;
	border-color: #003E17;
	background: #297B48 url("../images/light-green-background.png") no-repeat right bottom;
}

#buttonu572:hover
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-repeat: no-repeat;
	background-position: left bottom;
}

#u574
{
	background-color: transparent;
}

#buttonu576
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 2px;
	border-color: #003E17;
	background: #297B48 url("../images/light-green-background.png") no-repeat right bottom;
}

#buttonu576:hover
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-repeat: no-repeat;
	background-position: left bottom;
}

#u578
{
	background-color: transparent;
}

#buttonu580
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-width: 2px;
	border-color: #003E17;
	background: #297B48 url("../images/light-green-background.png") no-repeat right bottom;
}

#buttonu580:hover
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-repeat: no-repeat;
	background-position: left bottom;
}

#buttonu564.ButtonSelected,#buttonu568.ButtonSelected,#buttonu572.ButtonSelected,#buttonu576.ButtonSelected,#buttonu580.ButtonSelected
{
	-pie-box-shadow: 0px 0px 8px 2px #E5E5E5/* glow */,
6px 6px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(204,204,204,0.5),0px 0px 8px rgba(204,204,204,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	background-repeat: no-repeat;
	background-position: left bottom;
}

#u581
{
	background-color: transparent;
}

#u567-4,#u571-4,#u573-4,#u577-4,#u583-4
{
	display: block;
	vertical-align: top;
}

